* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}

.main-contnr {
    background-color: #d2ddff;
    padding: 5em;
    border-radius: 10px;
    overflow: hidden;
}

.logo-design {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    font-size: 65.5%;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    padding: 0.7em;
    margin: 0.5em;
    border: none;
    background-color: grey;
    border-radius: 10px;
}

.alternative {
    text-align: center;
    font-size: 1.4em;
    margin-top: 1em;
}

::placeholder {
    text-transform: capitalize;
    color: black;
}

.others {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.others p {
    font-size: 1.5rem;
}

button {
    padding: 0.6em;
    background-color: #001247;
    border-radius: 10px;
    color: white;
    border: none;
}

/* loader */
.loader {
    display: none;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #001247;
    width: 10px;
    height: 10px;
    animation: spin 0.5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader */