    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Hind', sans-serif;
    }

    /* for search section */
    html {
        font-size: 70%;
    }

    /* 
    body {
        height: 100vh;
    } */

    @media (max-width: 800px) {
        .head-container {
            position: fixed;
            top: 0;
            width: 100vw;
            font-size: 1.8em;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            color: #809fff;
            background-color: #001247;
            padding: 0.3em 0.6em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .username-container {
            margin-top: 4em;
            margin-left: 1em;
        }

        .point {
            border-radius: 10px;
            text-align: center;
            text-transform: capitalize;
            background-color: #001247;
            color: #809fff;
            padding: 2em 0;
            display: flex;
            flex-direction: column;
            margin: 1em 6em;

        }

        .point button {
            font-weight: 700;
            border-radius: 10px;
            background-color: white;
            border: none;
            margin: 0.5em 7em;
            padding: 0.3em;
            color: #001247;
            font-size: 1.1em;
        }

        .transaction h2 {
            text-transform: capitalize;
            text-align: center;
            background-color: #001247;
            color: white;
            padding: 0.6em;
        }

        .history {
            overflow: scroll;
            margin-bottom: 7em;
        }

        .each-history {
            background-color: #809fff;
            padding: 1em 0;
            margin: 1em 0.4em;
            border-radius: 10px;
            text-align: center;

        }

        .each-history span {
            text-transform: capitalize;
            display: flex;
            text-align: center;
            justify-content: space-between;
            margin: 1em 1em;
        }

        /* general css class */
        .red {
            color: red !important;
        }

        /* general css class */
        /* aside bar  */
        .menubar-container {
            position: absolute;
            display: none;
        }

        .img-container img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }

        /* aside bar  */

        footer {
            background-color: #001247;
            color: #809fff;
            position: fixed;
            width: 100vw;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em 2em;
            text-align: center;
            text-transform: capitalize;
        }

        footer i {
            font-size: 2em;
        }
    }